# Ignore system and IDE files
.idea/
.vscode/
.DS_Store

# Ignore Python virtual environment
venv/
.env

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore log files
*.log

# Ignore backup and temporary files
*.bak
*.swp
*~

# Ignore dependencies
node_modules/
vendor/
